AndApp/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AgentEnqService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgentEnqServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgentEnqServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePolicyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuotation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQuotationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateQuotationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProposalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndUpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndUpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAndUpdateClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndUpdateClientMultipleAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndUpdateClientMultipleAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAndUpdateClientMultipleAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicyWithPayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PayerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="multiReceipt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePolicyWithPayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePolicyWithPayerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAndorsementService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAndorsementServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientAndorsementServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOnlyReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOnlyReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOnlyReceiptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimAndNCB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="POlicyNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimAndNCBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimAndNCBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewalCloningService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewalCloningServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewalCloningServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPinCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPinCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchPinCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="policyno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isClaimResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InspectService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InspectServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InspectServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientEnq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientEnqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientEnqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetcheMandateDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PolicyNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetcheMandateDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetcheMandateDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processcovernote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msgtext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobilenumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processcovernoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processcovernoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pos_MispMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pos_MispMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pos_MispMasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ITGI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ITGIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ITGIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthRenewal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthRenewalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HealthRenewalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHBZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHBZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHBZoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDuplicateClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankaAgentEnqService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankaAgentEnqServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BankaAgentEnqServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HealthComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HealthComboResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewalMotorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Product" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Agent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewalMotorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewalMotorDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>